<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page</title>
    </head>
    <body>
        <h1>Maintenance Break!</h1>
        <p>
            The site is undergoing maintenance at the moment. We're working hard to get the 
            site up and running really soon.
        </p>
    </body>

</html>